* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.row1 {
  text-align: center;
  border: 3px solid black;
}
.row2 {
  display: flex;
  align-content: center;
}
#you,
#dealer {
  border: 3px solid black;
  height: 70vh;
  font-size: 1.5rem;
  /* font-weight: bold; */
  text-align: center;
  color: aliceblue;
  background-color: darkgreen;
  flex-grow: 1;
}
.row3 {
  display: flex;
  background-color: darkgreen;
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.button-space {
  border: 3px solid black;
  padding: 5px;
  text-align: center;
}
.row4 {
  display: flex;
  border: 3px solid black;
  justify-content: center;
  background-color: rebeccapurple;
}
table,
th,
td {
  margin: 2px;
  padding: 2px;

  text-align: center;
  color: white;
  border: 2px solid black;
}
